# Core Libraries
numpy
pandas

# Visualization (used in development, optional in deployment)
matplotlib
seaborn

# Feature Selection, Modeling, and Evaluation
scikit-learn
scipy
xgboost
statsmodels

# Model Explainability
shap
lime

# Web Scraping & URL Feature Extraction
requests
beautifulsoup4
tldextract
googlesearch-python
python-magic
python-multipart
python-dotenv

# Deployment
streamlit
joblib
flask

# Clipboard Support
pyperclip
